[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot.git

[submodule "oh-my-zsh"]
    path = .oh-my-zsh
    url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "zsh/fonts"]
	path = zsh/fonts
	url = https://github.com/powerline/fonts.git
